#Hpage{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  font-weight: bold;
  color: blue;
  white-space: nowrap;
  animation: banner-move 8s linear infinite;
}

@keyframes banner-move {
  0% {
    left: 100vw;
    transform: translate(-100%, -50%);
  }
  100% {
    left: -100vw;
    transform: translate(0, -50%);
  }
}